@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
}

body {
  background-color: #f9fafb;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.dark body {
  background-color: #16181d;
}
